aiowsgi==0.6
alembic==0.9.9
-e git+https://github.com/coreos/mockldap.git@59a46efbe8c7cd8146a87a7c4f2b09746b953e11#egg=mockldap
-e git+https://github.com/coreos/py-bitbucket.git@55a1ada645f2fb6369147996ec71edd7828d91c8#egg=py_bitbucket
-e git+https://github.com/coreos/resumablehashlib.git@b1b631249589b07adf40e0ee545b323a501340b4#egg=resumablehashlib
-e git+https://github.com/DevTable/aniso8601-fake.git@bd7762c7dea0498706d3f57db60cd8a8af44ba90#egg=aniso8601
-e git+https://github.com/DevTable/anunidecode.git@d59236a822e578ba3a0e5e5abbd3855873fa7a88#egg=anunidecode
-e git+https://github.com/app-registry/appr-server.git@c2ef3b88afe926a92ef5f2e11e7d4a259e286a17#egg=cnr_server
-e git+https://github.com/DevTable/container-cloud-config.git@8e8ae177c3d5cd6608f64250fcd8770022d61562#egg=container_cloud_config
-e git+https://github.com/DevTable/python-etcd.git@f1168cb02a2a8c83bec1108c6fcd8615ef463b14#egg=python_etcd
-e git+https://github.com/jarus/flask-testing.git@17f19d7fee0e1e176703fc7cb04917a77913ba1a#egg=Flask_Testing
-e git+https://github.com/jepcastelein/marketo-rest-python.git@9eaad572b52a30bbb1dee17821acb197ecd2dcb8#egg=marketorestpython
-e git+https://github.com/NateFerrero/oauth2lib.git@d161b010f8a596826050a09e5e94d59443cc12d9#egg=oauth2lib
-e git+https://github.com/DevTable/boto.git@a6a5c00bd199b1492e99199251b10451970b5b08#egg=boto
APScheduler==3.0.5
asn1crypto==0.24.0
autobahn==0.9.3.post3
azure-common==1.1.10
azure-nspkg==2.0.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0
Babel==2.5.3
backports.tempfile==1.0
beautifulsoup4==4.6.0
bencode==1.0
bintrees==2.0.7
bitmath==1.3.1.2
blinker==1.4
boto3==1.7.12
botocore==1.10.12
cachetools==1.1.6
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
contextlib2==0.5.5
cryptography==2.2.2
debtcollector==1.19.0
decorator==4.3.0
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
enum34==1.1.6
Flask-Cors==3.0.4
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask==1.0.2
funcparserlib==0.3.6
funcsigs==1.0.2
functools32==3.2.3.post2
furl==1.0.1
future==0.16.0
futures==3.2.0
geoip2==2.8.0
gevent==1.2.2
gipc==0.6.0
greenlet==0.4.13
gunicorn==18.0
hiredis==0.2.0
html5lib==0.9999999
httmock==1.2.6
httplib2==0.11.3
httpretty==0.8.10
idna==2.6
ipaddress==1.0.22
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
jsonpath-rw==1.4.0
jsonschema==2.6.0
keystoneauth1==3.5.0
Mako==1.0.7
marisa-trie==0.7.5
MarkupSafe==1.0
maxminddb==1.3.0
mixpanel==4.3.2
mock==2.0.0
mockredispy==2.9.3
monotonic==1.4
moto==0.4.25
msgpack==0.5.6
namedlist==1.7
ndg-httpsclient==0.5.0
netaddr==0.7.19
netifaces==0.10.7
oauthlib==2.0.7
orderedmultidict==0.7.11
oslo.config==6.2.0
oslo.i18n==3.20.0
oslo.serialization==2.25.0
oslo.utils==4.10.1
pathvalidate==0.17.1
pbr==4.0.2
peewee==3.6.4
Pillow==5.1.0
ply==3.11
psutil==5.4.5
psycopg2-binary==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
py-bcrypt==0.4
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.6.1
pycryptodomex==3.6.1
PyGithub==1.39
pygpgme==0.3
pyjwkest==1.4.0
PyJWT==1.6.1
PyMySQL==0.6.7
pyOpenSSL==17.5.0
pymemcache==1.4.4
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.7.2
python-editor==1.0.3
python-gitlab==1.4.0
python-keystoneclient==3.16.0
python-ldap==3.0.0
python-magic==0.4.15
python-swiftclient==3.5.0
pytz==2018.4
PyYAML==3.12
raven==6.7.0
recaptcha2==0.1
redis==2.10.6
redlock==1.2.0
reportlab==2.7
requests-aws4auth==0.9
requests-oauthlib==0.8.0
requests[security]==2.18.4
rfc3986==1.1.0
s3transfer==0.1.13
semantic-version==2.6.0
six==1.11.0
SQLAlchemy==1.1.5
stevedore==1.28.0
stringscore==0.1.0
stripe==1.80.0
supervisor==3.3.5
supervisor-stdout==0.1.1
toposort==1.5
trollius==2.2
tzlocal==1.5.1
urllib3==1.22
waitress==1.1.0
WebOb==1.8.1
Werkzeug==0.14.1
wrapt==1.10.11
xhtml2pdf==0.2.2
xmltodict==0.11.0
yapf==0.21.0
